:root {
    --cor-laranja: #fa8415;
    --cor-preto: #000000;
    --cor-btn-hover: #dd6b00;
    --fundo-cinza: #f7f7f7;
}

body {
    background-color: var(--fundo-cinza);
}

#navbar {
    background-color: var(--cor-laranja);
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* ===== CLASSES PADRONIZADAS =====*/

.btn-laranja {
    background-color: var(--cor-laranja);
    color: var(--cor-preto);
    font-weight: bold;
    border: none;
}

.btn-laranja:hover {
    background-color: var(--cor-btn-hover);
    color: var(--cor-preto);
}

.borda-laranja {
    border: 2px solid var(--cor-laranja);
}

.titulo-pagina {
    margin-top: 50px;
    margin-left: 3%;
}

.main-padrao {
    margin-top: 50px;
    padding: 0px 40px;
}

/* ===== INDEX =====*/

#body-login {
    background-image: url(../assets/images/fundo-login.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-login {
    top: 0;
    background-color: var(--cor-laranja);
    float: right;
    opacity: calc(95%);
    color: var(--cor-preto);
    width: 40%;
}

#btn-envio {
    background-color: white;
    color: var(--cor-preto);
    font-size: 25px;
}

.logo-login {
    position: absolute;
    margin-top: 35px;
    height: 100px;
    margin-left: 35px;
}

#form-login {
    font-size: 25px;
}

/* ===== PÁGINA HOME =====*/

.logo-home {
    display: block;
    height: 400px;
    width: 400px;
    margin: 30px auto 0;
}

.fade-in {
    animation: fade-in 1.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}